* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

}


#tituloindex {
    color: black;
}

.indexGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.fondoDeIndex {
    grid-column: 1/4;
    background-image: url(../multimedia/images/Presentación\ de\ inicio.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

.divIndex {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    padding-top: 450px;
    color: rgb(241, 224, 224);
}

.pIndex {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;

}

.pasos {
    color: black;
    font-family: monospace;
    font-size: 30px;
}

.listaMenu {
    list-style: none;
    display: flex;
    justify-content: end;
}


.logo {
    width: 6rem;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    color: rgb(241, 224, 224);

}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 150px;
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
    color: rgb(241, 224, 224);
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    padding: 40px;
    color: rgb(241, 224, 224);
}

h4 {
    font-family: monospace;
    color: white;
    font-size: 20px;
}

ol li {
    color: rgb(241, 224, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    margin: 20px;
}

.grillaSobreNosotros {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.fotoSobreNosotros {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 100px;
    justify-self: center;
}

.pSobreNosotros {
    text-align: justify;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    color: rgb(241, 224, 224);
    margin: 30px 30px 30px 30px;
    justify-self: start;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.pSobreNosotros2 {
    text-align: justify;
    font-style: italic;
    font-size: 40px;
    color: rgb(241, 224, 224);
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: start;
    align-self: center;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(241, 224, 224);
}



.listaMenu li {
    margin: 0 1rem;
    font-family: monospace;
    color: black;
}

.contenedorMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    background-color: black;
}

.contenidoContacto {
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 40px;
    color: rgb(241, 224, 224);
}

.mapaTex {
    margin: 20px 30rem;
    border: solid 2px;
    margin-left: 360px;

}

.contenedorFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 224, 224);
}

.footerTexto {
    color: black;
}

.grillaGaleria {
    display: grid;
    grid-template-areas: "main main main"
        "footer footer footer";
}

.remeraNegra {
    height: 400px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
    justify-self: end;
}

.remeraGris {
    height: 400px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
}

.remeraBeige {
    height: 400px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
    justify-self: start;
}

.buzoBlanco {
    height: 400px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
    justify-self: end;
}

.buzoMarron {
    height: 400px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
}

.buzoNegro {
    height: 400px;
    width: auto;
    border: solid 0px;
    border-radius: 10px;
    justify-self: start;
}

.mainGrilla {
    background-color: black;
    grid-area: main;
}

.footerGrilla {
    grid-area: footer;
    background-color: rgb(241, 224, 224)
}

.contenedorGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    background-color: black;
}

.divServicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;

}

.gamaColores {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
}

.coloresServicio {
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
    margin-right: 220px;
    border: solid 0px;
    border-radius: 10px;
}

.talles {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: justify;
    margin-left: 250px;
}

.tallesServicio {
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: end;
    align-self: center;
    border: solid 0px;
    border-radius: 10px;
    margin-right: 150px;
}

.textoSerigrafia {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-right: 350px;
    justify-self: start;
    align-self: end;
}

.serigrafia {
    width: 500px;
    justify-self: center;
    margin-right: 250px;
}

.textoSublimacion2 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.sublimacion2 {
    width: 500px;
    justify-self: center;
    margin-left: 100px;
    margin-bottom: 100px;
}