* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

#tituloindex {
    color: black;
}

#descripcion {
    color: goldenrod;
}

.pasos {
    color: black;
    font-family: monospace;
    font-size: 30px;
}

.listaMenu {
    list-style: none;
    display: flex;
    justify-content: end;
}


.logo {
    width: 6rem;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: rgba(255, 0, 0, 0.836);
}

h2 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

h3{
    font-family: monospace;
    font-size: 30px;
}

h4{
    font-family: monospace;
    color: white;
    font-size: 20px;
}

ol li {
    color: black;
    font-family: monospace;
    font-size: 20px;
}

#algunosdenuestrostrabajos {
    text-align: center;
}

#psobrenosotros {
    text-align: justify;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}



.listaMenu li {
    margin: 0 1rem;
    font-family: monospace;
}

.contenedorMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    background-color: black;
    position: sticky;
}
.contenidoContacto {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin: 40px;
}

.contenedorFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.mapaTex {
    margin: 20px 30rem;
    border: solid 2px;
}
.grillaGaleria{
    display: grid;
    grid-template-areas:"main main main"
                        "footer footer footer";
}

.mainGrilla{
background-color: white;
grid-area: main;
}

.footerGrilla{
    background-color: brown;
    grid-area: footer;
}
.contenedorGrilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    padding: 20px;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}
    .imagenGaleriaA {
        width: auto;
        height: 100%;
        grid-column: 3/4;
        grid-row: 1/2;
        border: solid 2 px;
        border-radius: 5px;
    }
.imagenGaleriaB {
    width: 100%;
    height: auto; 
    grid-column: 1/3;
    grid-row: 1/2;   
}

.imagenGaleriaC{
    width: 100%;
    height: auto;
    margin-top: 30px;
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: start;
}

.imagenGaleriaD {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 3/4;
}

.imagenGaleriaE {
    height: 100%;
    width: auto;
    grid-column: 2/3;
    grid-row: 2/4;
}

.imagenGaleriaF {
    width: 100%;
    height: auto;
    align-self: end;
    grid-column: 3/4;
    grid-row: 3/4;
}

.imagenGaleriaG {
width: 100%;
height: auto;
margin-bottom: 30px;
grid-column: 3/4;
grid-row: 2/3;
align-self: end;
}

.imagenGaleriaH{
    height: 100%;
    width: auto;
}

.divServicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.coloresServicio{
    justify-self: center;
    align-self: center;
    margin: 30px;
    border: solid 0px;
    border-radius: 10px;
}

.tallesServicio{
    justify-self: center;
    align-self: center;
    margin: 30px;
    border: solid 0px;
    border-radius: 10px;
}

.textoServicio{
    
}